   /* 背景顏色 */
   body{
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* 設置標題圖片 */
    header h1 img{
        width: 50px;
        height: auto;
    }
    /* 將導航選單橫向排列 */
    nav ul {
        display: flex;
        list-style-type: none;
        padding: 30;
        margin: 0;
        border: 1px white solid;
    }
    nav ul li{
        margin-right: 20px;
    }
    nav ul li a{
        text-decoration: none;
        color:wheat;
    }
    nav ul li a:hover{
        color: yellow;
    }
